<div class="container">
    <div class="card">
        <div class="strip-block">
            <div class="profile-logo">
                <img src="assets/img/me.jpg" alt="">
            </div>
            <div class="strip"></div>
            <div class="short-details">
                <h4 class="tagLine">
                    Senior FullStack Developer
                </h4>
                <blockquote class="quote">
                    "Nothing great is easy!"
                </blockquote>
            </div>
        </div>

        <div class="details">
            <div class="nameBlock">
                <h1 class="round-shape name">
                    Patrick Clifford
                </h1>
                <div class="divider">
                    <div class="stick stick1"></div>
                    <div class="stick stick2"></div>
                </div>
            </div>
            <p class="bio">
                I love coding, new technologies. I'm mostly interested in Full Stack Web Development.
                <br> I love to work with Node.js, Java, PHP, Angular & React.
            </p>
            <div (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
                <a class="round-shape projects-link" (click)="onExploreMeClick()">
                    <span>
                        Explore Me
                    </span>
                </a>
            </div>
        </div>
        <div class="divider">
            <div class="stick stick1"></div>
            <div class="stick stick2"></div>
        </div>

        <div class="social">
            <div class="social-icon">
                <a href="https://www.github.com/ulter-super-dev" target="_blank">
                    <img src="./assets/icons/github.svg" alt="github icon">
                </a>
            </div>
            <div class="social-icon">
                <a href="https://www.linkedin.com/in/patrick-clifford-1b052323a/" target="_blank">
                    <img src="./assets/icons/linkedin.svg" alt="linkedin icon">
                </a>
            </div>
            <div class="social-icon">
                <a href="patrickclifford0417@gamil.com">
                    <img src="./assets/icons/email.svg" alt="email icon">
                </a>
            </div>
        </div>

    </div>
</div>